$color_border_dark: #dee5e7;
@mixin clearfix() {
  .temp,
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.input-group {
  margin-top: 5px;
}

//css Date picker star //
.SingleDatePicker.SingleDatePicker_1 {
  padding-top: 5px;
  display: block;
}

input#date_input {
  padding: 0px 10px 0px;
  font-size: 12px;
  background: #f6f7f8;
  font-weight: normal;
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  width: 100%;
}

.DateInput.DateInput_1 {
  width: 100%;
}

.SingleDatePicker_picker__directionLeft_2 {
  top: 0px;
}
.display-none {
  display: none;
}
.invisiable {
  visibility: hidden !important;
}
.side-menu-fixed:hover {
  width: 230px !important;
}
.side-menu-fixed:hover .pull-right {
  visibility: visible !important;
}
.side-menu-fixed:hover .right-nav-text {
  visibility: visible !important;
}
.side-menu-fixed:hover .menu-title {
  display: block;
}
// collapse start //

.form-collapse {
  margin-bottom: 0px !important;

  > .col-lg-12 {
    padding: 0;
  }
  .collapse__wrapper {
    &.boxed {
      border: none;
      .collapse__title {
        background-color: #f6f7f8;
        color: #626262;
        padding: 0;
        border-radius: 3px;
      }
      .collapse__title:focus {
        outline: none;
      }

      &.collapse__content {
        margin: 15px;
      }
      .panel__heading {
        &.panel__heading--btn {
          .panel__title {
            font-size: 1.143rem;
            font-weight: 500;
            display: inline-block;
            padding: 8px 8px;
          }
        }
      }
    }
    &.active {
      .collapse__title {
        background-color: #84ba3f;
        color: #ffffff;
      }

      .panel__heading {
        &.panel__heading--btn {
          i {
            background-color: #ffffff;
            color: #84ba3f;
          }
        }
      }
    }
    .panel__heading {
      &.panel__heading--btn {
        i {
          background-color: #323232;
          float: right;
          border-radius: 100%;
          padding: 5px 6px;
          margin-top: 10px;
          margin-right: 20px;
          color: #ffffff;
        }
      }
    }
    .collapse__title:hover {
      cursor: pointer;
      background-color: #84ba3f;
      color: #ffffff;

      .panel__heading {
        &.panel__heading--btn {
          i {
            background-color: #ffffff;
            color: #84ba3f;
          }
        }
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.form-section {
  @include clearfix();
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  section {
    border: 1px solid $color_border_dark;
    margin: 10px;
    .table-title {
      position: relative;
      .form-section__icon-trash {
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
        i {
          font-size: 18px;
        }
        &.form-section__icon-trash--show {
          display: block;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .form-content {
      padding: 20px;
      .form-content__center {
        width: 70%;
        margin: 0 auto;
      }
      .form__block {
        padding: 20px;
        border: 1px solid $color_border_dark;
        position: relative;
        margin-bottom: 10px;
        .form__half:first-child {
          margin-right: 30px;
        }
        button {
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
    }
    .form-content.body-modal-add-component,
    .form-content.body-modal-submit {
      border: 1px solid #b6d6b6;
      background-color: #e6f2e6;
    }
    .form-content.body-modal-cancel {
      border: 1px solid #d9b4b4;
      background-color: #f2e6e6;
    }
  }
  .form-section__btn-add {
    margin-left: 65px;
    &.form-section__btn-add-input {
      margin-left: 157px;
    }
  }
  .form-section__btn-next {
    float: right;
  }
}
.section-form-child {
  margin: 20px 0 0 0;
  .table-title {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    .form-section__icon-trash {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
  .form-content {
    padding: 0 20px 20px 20px;
  }
  &:first-child {
    margin: 0;
  }
}
.form-section {
  .section {
    position: relative;
    margin: 0;
    .button-trash {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 0 5px;
      i {
        color: #ff4861;
        font-size: 20px;
      }
      cursor: pointer;
      &:hover {
        background-color: darken(#ff4861, 10%);
        border-color: darken(#ff4861, 10%);
        i {
          color: darken(#fff, 20%);
        }
      }
    }
    .form-content {
      &.form-content--trash {
        margin-top: 20px;
      }
    }
    &.section-form-order {
      border: none;
      margin: 0;
      .button-trash {
        top: -43px;
        right: 0;
      }
    }
  }
}
// collapse end //

// group filter start //
.group-filter {
  display: flex;
  flex-wrap: wrap;

  .form-group {
    padding: 3px 5px;
  }

  .form-control {
    margin-top: 5px;
  }
}
// group filter end //

// btn Custom start //
.group-btn-custom {
  margin: auto 0px 3px;
  button {
    float: right;
    padding: 5px 10px;
  }
}
// btn Custom end //

.admin-header {
  .nav-item {
    margin: auto;
  }
}
